<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>Metallica</string>
			<key>content</key>
			<string>Metallica is an American heavy metal band. The band was formed in 1981 in Los Angeles by vocalist/guitarist James Hetfield and drummer Lars Ulrich, and has been based in San Francisco for most of its career.[1][2] The band&apos;s fast tempos, instrumentals and aggressive musicianship made them one of the founding &quot;big four&quot; bands of thrash metal, alongside Megadeth, Anthrax and Slayer. Metallica&apos;s current lineup comprises founding members and primary songwriters Hetfield and Ulrich, longtime lead guitarist Kirk Hammett and bassist Robert Trujillo. Guitarist Dave Mustaine, who formed Megadeth after being fired from the band, and bassists Ron McGovney, Cliff Burton and Jason Newsted are former members of the band.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Megadeth</string>
			<key>content</key>
			<string>Megadeth is an American thrash metal band formed in Los Angeles in 1983 by vocalist/guitarist Dave Mustaine. Known for their technically complex guitar work and musicianship, Megadeth is one of the &quot;big four&quot; of American thrash metal along with Metallica, Anthrax, and Slayer,[3] responsible for the genre&apos;s development and popularization. Their music features complex arrangements and fast rhythm sections, dual lead guitars, and lyrical themes of war, politics, religion, death, and personal relationships.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mastodon</string>
			<key>content</key>
			<string>Mastodon is an American heavy metal band from Atlanta, Georgia. Formed in 2000, the band&apos;s lineup of Troy Sanders (bass/vocals), Brent Hinds (lead guitar/vocals), Bill Kelliher (rhythm guitar/backing vocals) and Brann Dailor (drums/vocals) has remained the same since 2001. Mastodon has released eight studio albums, as well as a number of other releases. The band&apos;s 2002 debut album, Remission, garnered significant critical acclaim for its unique sound.[1] Mastodon&apos;s second full-length release, Leviathan, is a concept album based on the novel Moby-Dick by Herman Melville. Three magazines awarded the record &quot;Album of the Year&quot; in 2004: Revolver, Kerrang! and Terrorizer.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Slayer</string>
			<key>content</key>
			<string>Slayer was an American thrash metal band from Huntington Park, California. The band was formed in 1981 by guitarists Kerry King and Jeff Hanneman, drummer Dave Lombardo and bassist/vocalist Tom Araya. Slayer&apos;s fast and aggressive musical style made them one of the &quot;big four&quot; bands of thrash metal, alongside Metallica, Megadeth, and Anthrax. Slayer&apos;s final lineup comprised Araya, King, drummer Paul Bostaph (who replaced Lombardo in 1992 and again in 2013) and guitarist Gary Holt (who replaced Hanneman in 2011). Drummer Jon Dette was also a member of the band.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rammstein</string>
			<key>content</key>
			<string>Rammstein (German pronunciation: [ˈʁamʃtaɪn], lit. &quot;ramming stone&quot;) is a German Neue Deutsche Härte band formed in Berlin in 1994. The band&apos;s lineup—consisting of lead vocalist Till Lindemann, lead guitarist Richard Kruspe, rhythm guitarist Paul Landers, bassist Oliver Riedel, drummer Christoph Schneider, and keyboardist Christian &quot;Flake&quot; Lorenz—has remained unchanged throughout their history, along with their approach to songwriting, which consists of Lindemann writing and singing the lyrics over instrumental pieces the rest of the band has completed beforehand. Prior to their formation, some members were associated with the punk rock acts Feeling B and First Arsch.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Baroness</string>
			<key>content</key>
			<string>Baroness is an American heavy metal band from Savannah, Georgia, whose original members grew up together in Lexington, Virginia</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dimmu Borgir</string>
			<key>content</key>
			<string>Dimmu Borgir (/ˌdɪmuː ˈbɔːrɡɪər/) is a Norwegian symphonic black metal band from Jessheim, formed in 1993. The name is derived from Dimmuborgir, a volcanic formation in Iceland, the name of which means &quot;dark cities&quot; or &quot;dark castles/fortresses&quot; in Icelandic, Faroese and Old Norse. The band has been through numerous lineup changes over the years; vocalist Shagrath and rhythm guitarist Silenoz are the only original members who still remain, with lead guitarist Galder being a longstanding member.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Iron Maiden</string>
			<key>content</key>
			<string>Iron Maiden are an English heavy metal band formed in Leyton, East London, in 1975 by bassist and primary songwriter Steve Harris. While fluid in the early years of the band, the lineup for most of the band&apos;s history has consisted of Harris, lead vocalist Bruce Dickinson, drummer Nicko McBrain, and guitarists Dave Murray, Adrian Smith and Janick Gers. The band have released 41 albums, including 17 studio albums, 13 live albums, four EPs and seven compilations. They have also released 47 singles and 20 video albums. Two electronic games have been released with Iron Maiden soundtracks, and the band&apos;s music is featured in a number of other video games.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pantera</string>
			<key>content</key>
			<string>Pantera (/pænˈtɛrə/) is an American heavy metal band from Arlington, Texas, formed in 1981, and currently comprised of vocalist Phil Anselmo, bassist Rex Brown, and touring musicians Zakk Wylde and Charlie Benante. The group&apos;s best-known lineup consisted of the Abbott brothers (drummer Vinnie Paul and guitarist Dimebag Darrell), along with Brown and Anselmo, who joined in 1982 and 1986 respectively. In addition to their development and popularization of the groove metal subgenre, Pantera is credited (along with others, such as Testament, Sepultura, and Machine Head) for being part of the second wave of thrash metal scene from the late 1980s to early-to-mid 1990s.[2][3] Pantera is regarded as one of the most successful and influential bands in heavy metal history, having sold around 20 million records worldwide[4] and having received four Grammy nominations</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Muse</string>
			<key>content</key>
			<string>Muse are an English rock band from Teignmouth, Devon, formed in 1994. The band consists of Matt Bellamy (lead vocals, guitar, keyboards), Chris Wolstenholme (bass guitar, backing vocals), and Dominic Howard (drums).</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Radiohead</string>
			<key>content</key>
			<string>Radiohead are an English rock band formed in Abingdon, Oxfordshire, in 1985. The band consists of Thom Yorke (vocals, guitar, piano, keyboards); brothers Jonny Greenwood (lead guitar, keyboards, other instruments) and Colin Greenwood (bass); Ed O&apos;Brien (guitar, backing vocals); and Philip Selway (drums, percussion). They have worked with the producer Nigel Godrich and the cover artist Stanley Donwood since 1994. Radiohead&apos;s experimental approach is credited with advancing the sound of alternative rock.</string>
		</dict>
	</array>
</dict>
</plist>
