<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>name</key>
			<string>Anton</string>
			<key>username</key>
			<string>kovalgek</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Karol</string>
			<key>username</key>
			<string>kar4k</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Misha</string>
			<key>username</key>
			<string>veliar_yes</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ksusha</string>
			<key>username</key>
			<string>goldkanet</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Petr</string>
			<key>username</key>
			<string>atatator</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Anton</string>
			<key>username</key>
			<string>c4off</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Igor</string>
			<key>username</key>
			<string>timBassPlayer</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Venya</string>
			<key>username</key>
			<string>tamburin</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mery</string>
			<key>username</key>
			<string>Kim</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eugenii</string>
			<key>username</key>
			<string>pshenichka</string>
			<key>postID</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Liana</string>
			<key>username</key>
			<string>lia</string>
			<key>postID</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
